.home {
    background-image: url(../../assets/backgroundtest2.jpg);
    background-size: cover;

    --mask:
    radial-gradient(223.61px at 50% calc(100% - 300.00px),#000 99%,#0000 101%) calc(50% - 200px) 0/400px 100%,
    radial-gradient(223.61px at 50% calc(100% + 200.00px),#0000 99%,#000 101%) 50% calc(100% - 100px)/400px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

    padding-bottom: 150px;

    .welcome {
        margin-top: 100px ;
        display: flex;
        flex-direction: column;
        align-items: center;

        .welcome__infos {
            text-align: center;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            font-size: 25px;
            width: 60%;

            .welcome__title {
                margin-bottom: 50px;
                font-size: 70px;
                font-weight: 400;
            }

            .welcome__text {
                line-height: 55px;
                font-weight: 300;
            }
        }

        .links {
            margin: 40px 0px 50px 0px;
            display: flex;
            gap: 30px;
            font-size: 20px;

            .links__unit {
                background-color: rgba(192, 109, 119, 0.7);
                padding: 15px 30px;
                text-decoration: none;
                border-radius: 35px;
                color: white;
                // #A45E56
                // #C06D77
            }
        }
    }

    p {
        background-color: #f8c69d;
        padding: 10px;
    }
}

#root:has(.error404) {

    .home {
        background-image: none;
        
        .welcome {
            display: none;
        }
    }
}