$MainColor : #C06D77;
$SecondColor : white;
$BackColor : #F8C69D;
$DarkColor : #A45E56;

.card {
    padding: 20px 10px 10px 10px;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.7);
    border-radius: 20px;
    background-color: white;
    width: 300px;
    color: $DarkColor;

    .card__title {
        font-weight: 400;
        margin-bottom: 10px;
    }

    .card__text {
        margin-top: 10px;
    }

    .card__img {
        // width: 200px;
        height: 180px;
    }

    .techno__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 20px;

        .techno__item {
            list-style-type: none;
            background-color: rgba($color: $MainColor, $alpha: 0.8);
            border: 1.5px solid white;
            color: white;
            padding: 0.3125rem 1rem 0.25rem;
            margin-right: 6px;
            border-radius: 15px;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
}