.about {
    color: #C06D77;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;

    .about__title {
        margin-top: 20px;
        font-weight: 400;
        font-size: 35px;

        &--comp{
            color: white;
            margin-bottom: 30px;
        }
    }

    .about__text {
        margin: 50px 0px 50px 0px;
        width: 75%;
        line-height: 25px;
    }
}

.container__wave {
    max-width: 100%;
    background-image: url(../../assets/backgroundtest.jpg);
    background-size: cover;

    --mask:
    radial-gradient(178.89px at 50% 240.00px,#000 99%,#0000 101%) calc(50% - 160px) 0/320px 100%,
    radial-gradient(178.89px at 50% -160px,#0000 99%,#000 101%) 50% 80px/320px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

    padding: 140px 0px 50px 0px;
}