$MainColor : #C06D77;
$SecondColor : white;
$BackColor : #F8C69D;
$DarkColor : #A45E56;

.contact {
    color: $MainColor;
    font-weight: 400;
    padding: 50px 100px 50px 100px ;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgba($color: $BackColor, $alpha: 0.05);
    align-items: center;

    @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        padding: 50px 50px 50px 50px ;
    }

    @media screen and (max-width: 768px) {
        padding: 50px 30px 50px 30px ;
    }

    @media screen and (max-width: 480px) {
        padding: 50px 5px 50px 5px ;
    }

    .form__img {
        width: 100%;

        @media screen and (max-width: 1000px) {
            width: 50%;
            margin-top: 50px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 80%;

        .contact-me {
            margin-bottom: 30px;

            .form__title {
                // font-size: 35px;
                font-size: clamp(1.5625rem, 1.3384rem + 0.9434vw, 2.1875rem);
                margin-bottom: 10px;
            }
        }  

        .form__link {
            text-decoration: none;
            color: #74413b;

            &:hover {
                text-decoration: underline;
            }
        }

        .form__names {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
            }

            &--style {
                display: flex;
                flex-direction: column;
            }
        }

        .form__label {
            margin: 10px 0px 10px 0px;
            font-size: 20px;

            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }

        .form__input {
            padding: 15px 10px;
            border: none;
            border-radius: 15px;
            margin-bottom: 5px;
            box-shadow: 0 5px 7px 0 rgba(190, 190, 190, 0.23), -3px -3px 2px 0 rgba(205, 205, 205, 0.075);
        
            &:focus-visible {
               outline-color: $DarkColor;
            }
            
        }

        textarea {
            height: 120px;
        }

        .btn {
            border: none;
            cursor: pointer;
            color: white;
            font-size: 20px;
            background-color: rgba($color: $MainColor, $alpha: 0.8);
            border-radius: 25px;
            width: fit-content;
            padding: 10px 25px 10px 25px;
            margin-top: 20px;
            align-self: center;

            @media screen and (max-width: 768px) {
                font-size: 18px;
                width: 80%;
            }
        }
    }
}

