.container__wave {
    max-width: 100%;
    background-image: url(../../assets/backgroundtest.jpg);
    background-size: cover;

    --mask:
    radial-gradient(178.89px at 50% 240.00px,#000 99%,#0000 101%) calc(50% - 160px) 0/320px 100%,
    radial-gradient(178.89px at 50% -160px,#0000 99%,#000 101%) 50% 80px/320px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

    padding-top: 140px;

    .works {
        // background-color: rgba($color: white, $alpha: 0.5);
        // border-radius: 30%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 18px;

        .works__title {
            margin-top: 20px;
            font-weight: 400;
            font-size: 35px;
        }

        .works__text {
            margin: 50px 0px 50px 0px;
            width: 75%;
            line-height: 25px;
        }
    }
}