$MainColor : #C06D77;
$SecondColor : white;
$BackColor : #F8C69D;
$DarkColor : #A45E56;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba($color: $BackColor, $alpha: 0.8);
    gap: 10px;
    color: white;
    max-width: 100%;
    height: 150px;

    &__icons {
        display: flex;
        align-items:end;
        gap: 5px;

        .icon {
            color: white;
            font-size: 30px;
        }

        .icon__logo {
            margin-left: -5px;
        }
    }

    &__text {
        font-size: 20px;

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }
}