@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slider {
  width: 900px;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    width: 300px;
  }
}

.slider__container {
  margin: auto;

  .card__container {
    padding: 20px 0px;
    margin: 20px 0px;

    @media screen and (max-width: 780px) {
      margin: 0;
    }

    .slide img {
      width: 70%;
      margin: 0 auto;

      @media screen and (max-width: 480px) {
        height: fit-content;
        width: 60%;
        padding: 10px 0px;
      }
    }
    
    .slide {
      transform: scale(0.3);
      transition: transform 300ms;
      opacity: 0.7;
    }
    
    .activeSlide {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.arrow {
  color: white;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  box-shadow: 2px 2px 20px 5px rgba(0,0,0,1);
    -webkit-box-shadow: 2px 2px 20px 5px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 20px 5px rgba(0,0,0,1);
    border-radius: 50px;
  height: 25px;
  padding: 3px;
  width: 25px;

  &:hover {
    background-color: rgba($color: white, $alpha: 0.2);
  }
}

.arrow svg {
  transition: color 300ms;
}

.next {
  right: 0%;
  top: 50%;

  @media screen and (max-width: 1000px) {
    right: 4%;
  }

  @media screen and (max-width: 900px) {
    right: -20%;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.prev {
  left: 0%;
  top: 50%;

  @media screen and (max-width: 1000px) {
    left: 4%;
  }

  @media screen and (max-width: 900px) {
    left: -20%;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.slick-dots {
  li button:before {
    content: "";
  }

  li button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
  }

  li.slick-active button {
    height: 10px;
    width: 20px;
    border-radius: 50px;
    background-color: white;
    opacity: 1;
  }

  li.slick-active {
    margin-right: 10px!important;
  }
}